.tc-admin-container{
    width: 100%;
}
.tc-admin-container h2{
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    color: #333333;
}
.tc-admin-table-warpper{
    width: 100%;
}
.tc-addnew{
    text-align: right;
}
.tc-addnew a{
    padding: 8px 15px;
    text-decoration: none !important;
    background-color: #00ff44;
    border-radius: 8px;
}

input{
    width: 100%;
}
select{
    width: 100%;
}

.tc-popup{
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate( -50%, -50% );
    background-color: #fff;
    width: 400px;
    height: 200px;
    padding: 20px;
    padding-top: 50px;
    border: 2px solid #ddd;
}
.tc-popup p{
    text-align: center;
}

/*Up Comming Course List*/
.tr-upcomming-lists{
    list-style-type: none;
}
.tr-upcomming-list{
    color:#D35603;
    margin: 8px 0;
}
.tr-upcomming-list img{
    width: 30px;
    height: 14px;
}
.tr-upcomming-list .tr-icon{
    width: 14px;
    height: 14px;
}
.tr-upcomming-list span{
    color: #000000;
    font-size: 11px;
}
/*Up Comming Course List*/