.tc-admin-container{
    width: 100%;
}
.tc-admin-container h2{
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    color: #333333;
}
.tc-admin-table-warpper{
    width: 100%;
}
.tc-addnew{
    text-align: right;
}
.tc-addnew a{
    padding: 8px 15px;
    text-decoration: none !important;
    background-color: #00ff44;
    border-radius: 8px;
}